*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}


/* style for the landing page */
.hero_page{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center; 
    background-size: cover;
    background-attachment: fixed;
    color: #fff; 
    padding: 50px;
   
}
/* style fot top navbar */
.top_nav{
 position: absolute;
 top: 0;
 width: 100%;
 background-color: transparent;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: center;
 color: #fff;
 padding: 20px;
 

}
/* logo section container */
.brand_logo{
 width: 10%;  


}

/* style for signin btn cont */
.top_nav_sigin{
 width: 10%;    
 
 
}
/* style for sign in btn */
.sign_in_btn{
    background-color: rgb(229,9,20);
    padding: 7px 19px;
    border-radius: 6px;
    color: #fff;
    font-size: 100%;
    
}
/* style hero page content */
.hero_page_content{
    text-align: center;
}
/* style for first hero content */
.hero_page_content_1 h1{
    padding: 5px;
    font-weight: bolder;
    font-size: 300%;
}
.hero_page_content_1 h5{
    word-spacing: 5px;
    font-weight: 500;
    font-size: 150%;
}
/* style for second hero page content */


.hero_page_content_2 h6{
    
    margin-top: 30px;
    font-weight: 500;
    font-size: 130%;

}
/* styling for hero form */
.hero_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}
/* style for input of hero_form */
input[type=email]{
    padding: 20px;
    width: 70%;

}
input[type=email]:focus{
    outline: none;

}
/* styling for hero form btn */
.hero_form_btn, .container_landing_form_btn{
    background-color:rgb(226,8,19);
    width: 30%;
    color: #fff;
    font-size: x-large;
}
/* styling for page divider */
.divider{
    
    border: 5px solid rgb(34,34,34);
}
/* first, second, fourth page container styling */
.first_page_container, .second_page_container, .fourth_page_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 80px;
}
/* left flex styling */
.left_flex{
    width: 50%;
}

/* left flex h1 style */
.left_flex h1{
    font-size: 300%;
    font-weight: bolder;
}
.left_flex p{
    font-size: 150%;
}
/* right flex styling */
.right_flex{
    width: 40%;
   

}
.right_flex img{
    max-width: 100%;
    height: auto;
}
/* third page cont styling */
.third_page_container{
    background-color: #000;
    color: #fff;
    padding: 60px 100px;
    display: flex;
    justify-content: flex-start;
     
}
/* third page left flex styling */
.left_flex_third{
    width: 50%;
    
}
/* styling for third page header */
.left_flex_third h1{
    font-size: 300%;
    font-weight: bolder;
}
/* styling for third page paragraph */
.left_flex_third p{
    font-size: 150%;
}
/* fifth page cont styling */
.fifth_page_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: #fff;
    flex-wrap: wrap;
}
/* fifth page header */
.container_heading{
    width: 60%;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    font-size: 300%;
}
/* fifth page cont rows */
.container_row{
   
    width: 60%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(48,48,48); 
}
/* fifth page toggle button */
.item{
    width: 100%;
    color: #fff;
    background-color: rgb(48,48,48);
    text-align: justify;
    padding: 20px 25px;
    font-size: 150%;
    cursor: pointer;
    border: 0px;
    font-weight: 100;
    
}
/* fifth page toggle text */
.toggle_text{
    width: 60%;
    margin: auto;
    margin-top: -4px;
    margin-bottom: 5px;
    background-color: rgb(48,48,48);
    text-align: justify;
    padding: 20px 25px;
    font-size: 150%;
    display: none;
    transition: 3s ease-in-out;
    
    
}
/* .fifth_page_container colum1 */
.container_column1{
    text-align: center;
    width: 50%;
    margin: auto;
}
/* fifth_page_container h6 style */
.container_column1 h6{
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 130%;
}
/* .fifth_page_container form style */
.container_landing_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-bottom: 30px
}


/* styling for landing form btn is added along
 with the hero form btn */


/* style to toggle hidden text */
.show{
    display: block !important;
    
}
/* styling for bottom nav container */
.btm_nav_container{
    padding: 100px;
    background-color: #000;
    
}
/* styling for bottom nav head */
.btm_nav_head{
    width: 80%;
    margin: auto;
}
/* styling for bottom nav head link*/
.btm_nav_head a{ 
    color: grey;
    text-decoration: none;
    padding: 10px;

}
/* styling for bottom nav head link for hover*/
.btm_nav_head a:hover{
    text-decoration: underline;
}
/* styling for bottom nav links container */
.btm_nav_links{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;
    margin-top: 20px; 
    
}
/* styling for bottom nav link */
.btm_nav_links a{
    margin: 10px;
    width: 20%;
    color: grey;
    text-decoration: none;
    font-size: 80%;
}
/** styling for bottom nav link for hover*/
.btm_nav_links a:hover{
    text-decoration: underline;
}
/* styling for bottom nav  */
.btm_nav{
    width: 80%;
    margin: auto;
}
/* styling for bottom nav */
.btm_nav p{ 
    margin-top: 20px;
    color: grey;
    text-decoration: none;
    padding: 10px;
    font-size: 80%;

}
/* media queries */